<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="css/milligram.min.css">

    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<script type="text/x-template" id="filetree-path-template">
<p>
    <span v-if="path">
        <router-link :to="'/tree/'+branch">
            {{ branch }}
            <i class="fa fa-home" aria-hidden="true"></i>
        </router-link>
        / {{ path }}
    </span>
    <span v-else>{{ branch }}</span>
</p>
</script>
<script type="text/x-template" id="blob-template">
<div>
    <filetree-path
        v-bind:branch="branch"
        v-bind:path="path">
    </filetree-path>
    TODO
</div>
</script>
<script type="text/x-template" id="tree-template">
<div>
    <filetree-path
        v-bind:branch="branch"
        v-bind:path="path">
    </filetree-path>
    <div class="container">
        <filetree-entry
            v-for="entry in tree"
            v-bind:entry="entry"
            v-bind:branch="branch"
            v-bind:path="path"
            v-bind:key="entry.id">
        </filetree-entry>
    </div>
</div>
</script>
<script type="text/x-template" id="tree-entry-template">
<div class="row">
    <span class="filetree-file-icon">
        <i v-if="is_tree(entry)" class="fa fa-folder"
           aria-hidden="true"></i>
        <i v-else class="fa fa-file-text-o" aria-hidden="true"></i>
    </span>

    <router-link :to="entry_link(entry, branch, path)">
        {{entry.name}}
    </router-link>
</div>
</script>
    <div id="app">
        <h1>Files</h1>
        <router-view></router-view>
    </div>
    <script src="https://unpkg.com/multihashes/dist/index.js"></script>
    <script src="https://npmcdn.com/ipfs-unixfs/dist/index.js"></script>
    <script src="js/ipfs-api-14.3.5.js"></script>
    <script src="js/pako-1.0.6.min.js"></script>
    <script src="js/encoding-indexes-0.6.4.js"></script>
    <script src="js/encoding-0.6.4.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
